@use "variables" as *;
@use "flexes" as *;

body {
  margin: 0px;
  padding: 0px;
  @extend ._col, ._aCenter;
  background-color: $color__gray;
}

ul {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

main{
  top: $unit__headerHeight;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  color: white;
  background-color: #323232;
  word-wrap: normal;  
  width: 100vw; 
}

.heroText{
  margin: 100px 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgba(75, 75, 75, 0.4);
  border-radius: 10px;
  text-align: center;
  width: fit-content;
}

.hero{
  background: url(/img/rainWorldBackground.png);
  width: 100%;
  height: 400px;
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contentRow{
  display: flex;
  flex-direction: row;

}

.contentBubble{
  margin: 20px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  background-color: #4b4b4b;
  border-radius: 10px;
  max-width: 60vw;
  height: fit-content;
  border-width: 2pt;
  border-color: black;
  border-style: solid;
}

.contentRow:nth-of-type(odd){
  flex-direction: row-reverse;
}

.contentBubbleCenter{
  align-items: center;
}

img{
  max-width: 20vw;
  height: max-content;
  margin: -10px -15px;
  object-fit: cover;
}