@use "variables" as *;

body {
    text-decoration: none;
    font-size: 20px;
}

.passionOne{
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.3vw;
}

h1, .scrollButton{
    @extend .passionOne;
    margin: 0px;
    padding: 0px;
}

h2{
    @extend .passionOne;
    margin: 0px;
    padding: 0px;
    font-size: 2.5vw;
     min-width: auto;
}

h3{
    font-family: 'Londrina Solid', sans-serif;
    font-weight: normal;
    font-size: 60pt;
    margin: 0;
    margin-bottom: 10px;
}

h4{
    font-family: 'Londrina Solid', sans-serif;
    font-weight: normal;
    font-size: 32pt;
    margin: 0;
}

h5{
    font-family: 'Londrina Solid', sans-serif;
    font-weight: normal;
    font-size: 20pt;
    margin: 0;
}

p{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: normal;
    font-size: 12pt;
    max-width: 40vw;
    margin: 0px;
    text-align: justify;
}