<header>
  <nav class="_row _jBetween _aCenter">
    <a class="navStart navCenter" href="https://dawsgilmore.com" target="_blank">
      <h1>dawsGilmore</h1>
    </a>
    <div class="navCollapse navCenter">
      &equiv;
    </div>
    <ul class="navMain">
      <li>
        <a class="navCenter" href="../">
          <h2>Home</h2>
        </a>
      </li>
      <li>
        <a class="navCenter" href="../slugcats/">
          <h2>Slugcats</h2>
        </a>
      </li>
      <li>
        <a class="navCenter" href="../regions/">
          <h2>Regions</h2>
        </a>
      </li>
    </ul>
    <a class="navEnd navCenter" href="https://github.com/Aevo55" target="_blank">
      <h1>GitHub</h1>
    </a>
  </nav>
</header>