<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{ title }} - Rain World Stuff</title>

     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Chakra+Petch&family=Monofett&family=Pixelify+Sans&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Gloria+Hallelujah&family=Londrina+Solid:wght@100;300;400&display=swap"rel="stylesheet">

     <link rel="stylesheet" href="../css/style.css">   
     <script defer src="../js/script.js"></script>
</head>
<body class=" {{ pageClass }}">
     {% include 'header.html' %}
     <main>
     {{ content | safe }}
     </main>
</body>
</html>